.main {
  height: 600px;
  width: 1400px;
  background-color: blue; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none; }
  body .test {
    width: 71.42857%;
    height: 600px;
    width: 1400px;
    text-align: center; }
    body .test .menu ul {
      padding: 0px;
      list-style: none;
      position: absolute;
      background: #78b908;
      margin: 0px 500px 0px 435px;
      width: 500px;
      border-radius: 10px; }
    body .test .menu li {
      padding: 0px 5px 2px 5px;
      display: inline-block;
      list-style: none;
      transition: all 1s;
      -moz-transion: all 1s;
      -webkit-transion: all 0.5s;
      position: relative; }
    body .test .menu a {
      display: block;
      color: black;
      text-decoration: none;
      padding: 20px 5px 20px 5px;
      font-size: 20px; }
    body .test .menu li:hover ul {
      display: block; }
    body .test .menu li:hover {
      background: white; }
  body .aaa ul {
    padding: 10px 0px 10px 0px; }
    body .aaa ul li {
      padding: 10px 0px 10px 0px; }
      body .aaa ul li h1 {
        font-size: 100px;
        color: white; }
      body .aaa ul li p {
        font-size: 50px;
        color: #656965; }
      body .aaa ul li .btn {
        border: 2px solid black;
        font-size: 16px;
        padding: 15px 25px;
        text-align: center;
        cursor: pointer;
        outline: none;
        background-color: #97c645;
        border: none;
        box-shadow: 0 9px #999; }
    body .aaa ul .success {
      border-color: #97c645;
      color: #fff; }
    body .aaa ul .success:hover {
      background: #f3bbe2; }
