@import "_header.scss";
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {

  text-decoration: none;
  

.container  {
  height: 600px;
  width: 1400px;
  text-align: center;
  

.menu {
   
   ul{
     padding: 0px;
     list-style: none;
     position: absolute ;
     background:#6ec2d5;
     margin : 0px 500px 0px 435px;
     width: 500px;
     border-radius: 10px;
    
     
   }

   li {
     padding: 0px 5px 2px 5px;
     display: inline-block;
  	transition: all 1s ;
  	-moz-transion: all 1s ;
  	-webkit-transion: all 0.5s ;
  	position: relative ;
     
   }
   a{
     display: block;
     color:black;
     text-decoration: none;
     padding: 20px 5px 20px 5px;
     font-size: 20px;
   }

   li:hover ul{
     display: block;
     background: #ff0dae;
   }
  }
}

.aaa {
  margin: 250px;
 text-decoration: none;
ul{
 padding: 10px 0px 10px 0px;

 li{
  padding: 10px 0px 10px 0px;

  h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive, 'Bad Script';
  padding: 25px auto;
  text-shadow: 0 0 26px #14fcfc;
  list-style: none;
  }
  h1 span{
    padding: 10px auto;
  }

  h1 span::after{
    content: attr(data-text);
    position: absolute;
    z-index: -1;
    color: #14fcfc;
  }

 h5{
   margin: 0;
   padding: 0;
   color: #111;
   font-size: 40px;
   display: flex;
   justify-content: center;
  align-items: center;
  font-family: 'Bad Script', cursive;
  
 }

 h5 span{
   display: table-cell;
   margin: 0;
   padding: 0;
   animation: animate 2s linear infinite;
 }

h5 span:nth-child(1) {
animation-delay: 0s ;
}

h5 span:nth-child(2) {
  animation-delay: 0.25s ;
  }

  h5 span:nth-child(3) {
    animation-delay: 0.5s ;
    }

    h5 span:nth-child(4) {
      animation-delay: 0.75s ;
      }

      h5 span:nth-child(5) {
        animation-delay: 1s ;
        }

        h5 span:nth-child(6) {
          animation-delay: 1.25s ;
          }

          h5 span:nth-child(7) {
            animation-delay: 1.5s ;
            }

@keyframes animate{
  0%,100%{
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #14fcfc,
                0 0 20px #14fcfc,
                0 0 40px #14fcfc,
                0 0 80px #14fcfc,
                0 0 120px #14fcfc,
                0 0 200px #14fcfc,
                0 0 300px #14fcfc,
                0 0 400px #14fcfc;

  }
  5%,95%{
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
}

a{
  margin: 40px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color:  #ff0dae;
  text-transform:uppercase ;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transform: 0.2s;
  border-radius: 24px;
}

a:hover{
  color:  rgb(255, 255, 255);
  background: #ff0dae;
  box-shadow: 0 0 10px  #ff0dae, 0 0 40px  #ff0dae, 0 0 80px  #ff0dae;
transition-delay:1s ; 
}

a span{

  position: absolute;
display:block;
}

a span:nth-child(1){
top: 0;
left: -100%;
width: 100%;
height: 2px;
background: linear-gradient(90deg, transparent,#ff0dae );
}
a:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}

a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#ff0dae );
  }
  a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }

  a span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#ff0dae );
    }
    a:hover span:nth-child(2){
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s;
    }


    a span:nth-child(4){
      bottom: -100%;
      left: 0px;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent,#ff0dae );
      }
      a:hover span:nth-child(4){
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
      }
    }

   }
 }
.footer{
    height: 300px;
    background: #709ba4;
    width: 1400px;
    padding-left: 20px ;

  p{
  float:left; 
  color:khaki;
  margin-top: 50px;
  
}

.footer-sub{
      position: absolute;
      text-align: center;
      margin: 170px 10px 10px -10px;
      .btn{
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #f1f1f1;
        margin: 10px;
        border-radius: 30%;
      box-shadow: 0 5px 15px -5px #00000070;
      color: #709ba4;
      overflow: hidden;
      position: relative;

      }
      .btn i{
        line-height: 50px;
        font-size: 26px;
        transition: 0.2 linear;
      }
      .btn:hover i{
        transform: scale(1.3);
        color: #f1f1f1;
      }
     .btn::before{
       content: "";
       position: absolute;
       width: 120%;
       height: 120%;
       background: #709ba4;
       transform: rotate(45deg);
       left: -110%;
       top: 90%;
     }
     .btn:hover::before{
       animation: aaa 0.7s 1;
       top: -10%;
       left: -10%;
     }
    @keyframes aaa {
      0%{
        left: -110%;
        top: 90%;
      }
      50%{
        left: 10%;
        top: 30%;
      }
      100%{
        left: -10%;
        top: -10%;
      }
    }

    }

   }

}
